body {
  background-color: #02010a;
  font-family: Dancing Script;
}
header {
  background-color: #5b7989;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: white;
  display: flex;
  padding-bottom: 10px;
  padding-top: 10px;
  top: 0;
  width: 100%
}
footer a {
  color: black;
}
img {
  border: 2px #02010a;
  box-shadow: 2px 2px #02010a;
}
.columnaPie {
  box-sizing: border-box;
  padding: 2%;
  width: 25%
}
.columnaPie p {
  margin: 0px;
}
.contenedorimagendoble {
  box-sizing: border-box;
  margin-bottom: auto;
  margin-top: auto;
  padding: 2%;
  vertical-align: middle;
  width: 50%;
}
.contenedorimagendoble p {
  text-align: center;
  margin: 0px;
}
.contenedorimagenTriple {
  box-sizing: border-box;
  margin-bottom: auto;
  margin-top: auto;
  padding: 2%;
  vertical-align: middle;
  width: 33%;
}
.blur {
  -webkit-filter: blur(10px);
}
.grayScale {
  -webkit-filter: grayscale(100%);
}
.sepia {
  -webkit-filter: sepia(90%);
}
.imagenSVG {
  height: 16px;
  width: 16px;
  box-shadow: none;
}
.imagenSVG {
  height: 16px;
  width: 16px;
}
.imagenSVG * {
   display: flex;
   flex-flow: row wrap;
}
.miniatura {
  box-sizing: inherit;
  width: 100%;
}
.numeros {
  font-size: .85em;
}
#contenedorCentral {
  background-color: #82c3a6;
}
#contenedorPie {
  background-color: #C6d5c5;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-wrap: wrap;
}
#contenedorSecundario {
  background-color: #d5c75f;
  display: flex;
  flex-wrap: wrap;
}
#contenido {
  animation-name: slidein;
	animation-duration: 1.5s;
  max-width: 900px;
  margin: 0 auto;
}
#imagenPaisajes {
  transition-duration: 0.5s;
}
#imagenPaisajes:hover {
  -webkit-transform: rotate(10deg);
  transition-duration: 0.5s;
}
#imagenRetratos {
  transition-duration: 0.5s;
}
#imagenRetratos:hover {
  box-shadow: 2px 2px #82c3a6;
  -webkit-transform: translate(20px,-5px);
  transition-duration: 0.5s;
}
#imagenRetratos:hover {

}
#imagenPrincipal {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 90%;
}
#menu {
  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  margin-right: 2%;
  width: 50%;
}
#menu a {
  color: white;
  margin-bottom: auto;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: auto;
}
#nombreSitio {
  box-sizing: border-box;
  font-size: 1.5em;
  margin-bottom: auto;
  margin-left: 2%;
  margin-top: auto;
  text-align: left;
  text-shadow: 2px 2px #02010a;
  width: 50%;
}
@keyframes slidein {
  0% {
    margin-top: 150%;
  }
  60% {
    margin-top: -5%
  }
  100% {
    margin-top: 0%;
  }
}
@media (max-width: 600px) {
  header {
    display: block;
  }
  .columnaPie {
    width: 100%;
  }
  .contenedorimagendoble, .contenedorimagenTriple {
    margin-left: 3%;
    margin-right: 3%;
    width: 94%;
  }
  #contenedorPie {
    display: block;
  }
  #contenedorSecundario {
    display: block;
  }
  #menu {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 100%
  }
  #nombreSitio {
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    width: 80%;
    word-wrap: normal;
  }
}
